PORT=3000
DB_FILE=/app/data/db.sqlite
UPLOADS_DIR=/app/data/uploads
FRONTEND_DIST_DIR=/app/frontend/dist/frontend
JWT_SECRET=change-this-to-a-long-random-secret
ADMIN_USERNAME=vuhuynh450
ADMIN_PASSWORD=change-this-password
MAX_UPLOAD_SIZE_MB=4096
MEDIA_TRANSCODE_ENABLED=true
RESUMABLE_CHUNK_SIZE_MB=8
NODE_ENV=production